.trn{
margin-left:-15.90em !important;
}
.nav_home {
width:115px;
text-align:center;
}
.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.tp-dash-gstin {
    border-bottom: 1px solid gray;
    padding-bottom: 5%;
}
.table-rc tr td {
    text-align: center;
    vertical-align: middle !important;
    width: 100px;
}
.table-rc tr td span{
    display: block;
}

.beta_menu {
        margin: 0px 0em 0 -54em;
    }

 @media screen and (min-width: 320px) and (max-width: 1200px) {
	.nav_home {
     width:100%;   
     text-align:left;
    }
}
.menuList .disabled:active {
    pointer-events: none;
}
.menuList .disabledanchor {
    cursor: not-allowed;
    pointer-events: none;
 }
 .disabled{
  cursor: not-allowed !important;
  opacity: 0.6;
}
.menuList .disabled:active {
  pointer-events: none;
}
.menuList .disabledanchor {
  cursor: not-allowed;
  pointer-events: none;
}
.styled-table {
    border-collapse: collapse;
    margin: 5px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}
.dp-btns {
    text-align: center;
    margin: 30px 0;
}
.dp-btns div {
    display: inline-block;
}
.marginlt {
    margin-left: 46px;
    margin-top: -20px;
}
.dp-widget {
    margin: 0 20px;
    margin-bottom: 50px;
}
td.fill-disabled {
    background: #ddd !important;
    border: 1px solid darkslategrey !important;
}
td.fill-success {
    background: #35be96  !important;
    color: #fff !important;
    border: 1px solid darkslategrey !important;
}
td.fill-warning {
    background: #df9208  !important;
    color: #fff !important;
    border: 1px solid darkslategrey !important;
}
td.fill-danger {
    background: #db6767  !important;
    color: #fff !important;
    border: 1px solid darkslategrey !important;
}
td.fill-blue {
    background: #2b4e86  !important;
    color: #fff !important;
    border: 1px solid darkslategrey !important;
}
.srchbtn {
    margin-top: 25px;
}
.infoalign {
    margin-left: 1.2%;
    margin-right: 1%;
}
.card {
    margin: 20px 0;
}
.card .col-xs-12 {
    margin: 0 0 20px 0;
}
.card .hd {
    background-color: #14385D;
    color: #fff;
    padding: 15px;
    height: 94px;
}
.card .hd.rndsh {
    height: 113px;
}
.card p {
    margin: 0 0 5px 0;
}
.card .hd .inv {
    font-weight: 600;
    font-size: 16px;
}
.khakhi {
    color: khaki;
}
.card .ct {
    background-color: #fff;
    padding: 15px;
    min-height: 125px;
    color: black;
}
p.f-wt {
    font-weight: 600;
}
.card .ct span {
    color: #0097A7;
    padding-left: 5px;
    font-weight: 600;
}
a {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
a.unstyled:hover {
    text-decoration: none !important;
}
.disp-in {
    display: inline;
}
span.ret-t-info {
    font-size: 12px;
}
.impcol {
    color: red;
}
.tilwid {
    width: 85%;
}
.cardht {
    min-height: 155px !important;
}
.no-mar, .invsumm {
    margin: 0 !important;
}
.invsumm {
    background-color: #17C4BB;
    padding: 3px 25px 0 0;
    color: #fff;
}
.invsumm h4 {
    text-align: left;
    line-height: 1.3;
}
.tabpane {
    background-color: #fff;
    padding: 20px;
    min-height: 380px !important;
    height: auto;
}
.rettbl-format .row div[class*='col-'] {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ng-hide{
    display: none;
}
.rettbl-format {
    border-bottom: transparent !important;
}
.uline {
    padding: 1em;
    margin-bottom: 16px;
}
.gstr3b-blank {
    background-color: #eee;
}
.modal-backdrop {
    background: rgb(0 0 0 / 36%);
}
.payment-modes {
    display: inline-block;
}
.payment-modes {
    display: inline-block;
}
.single-payment-mode {
    background: #f7f7f7;
    padding: 10px 20px;
    border: 1px solid #b8b8b8;
}