body {
    background-color: #F6F7FB;
}

.heading {
    margin-top: 0;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.paymentDetails {
    width: 40%;
}

.paymentDetails h1 {
    font-size: 1.875rem;
    font-weight: 500;
    margin: 0.2rem 0;
}

.paymentDetails h2 {
    margin: 0.4rem 0;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.paymentDetails p {
    font-size: 0.8rem;
}

.boldPara {
    font-weight: 600;
}

.marginTop {
    margin-top: 1rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.radioLabel {
    font-size: 0.8rem;
}

.formContainer {
    background-color: white;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 2rem;
}

.formContainer form div {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.formContainer form div input {
    padding: 0.6rem;
    width: 8rem;
}

.formContainer form div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.formContainer form div label {
    font-size: 0.8rem;
}

.formFooter {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.saveButton {
    float: right;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
}

.continueButton {
    float: right;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    background-color: #2a3a8d;
    color: white;
    border: none;
}

.backButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

.upperSection span p {
    display: none;   
   }
   
.profile {
       display: flex;
}

.extraMarginTop {
    margin-top: 1rem;
}

#backBtn:hover {
    background-color: #2a3a8d;
    color: white;
}
